# ##############################################################################

# iCEcube PCF

# Version:            2014.12.27052

# File Generated:     Apr 27 2015 09:46:33

# Family & Device:    iCE40HX1K

# Package:            VQ100

# ##############################################################################

### Main FPGA Clock
set_io i_Clk 15

### LED Pins:
set_io o_LED_1 56
set_io o_LED_2 57
set_io o_LED_3 59
set_io o_LED_4 60

### 7 Segment Outputs
set_io o_Segment1_A 3
set_io o_Segment1_B 4
set_io o_Segment1_C 93
set_io o_Segment1_D 91
set_io o_Segment1_E 90
set_io o_Segment1_F 1
set_io o_Segment1_G 2
set_io o_Segment2_A 100
set_io o_Segment2_B 99
set_io o_Segment2_C 97
set_io o_Segment2_D 95
set_io o_Segment2_E 94
set_io o_Segment2_F 8
set_io o_Segment2_G 96

## UART Outputs
set_io i_UART_RX 73
set_io o_UART_TX 74

